__pycache__/
.history/
.vscode/
db.sqlite3
.trash/
node_modules/
.eslintcache
staticfiles/*
.scripts/
cypress/fixtures/
cypress/plugins/
cypress/screenshots/
cypress/support/
yarn-error.log
examples/
cypress/